<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NumberConversionSoapBinding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="NumberConversionSoapBinding12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.dataaccess.com/webservicesserver/numberconversion.wso"
                binding="basicHttpBinding" bindingConfiguration="NumberConversionSoapBinding"
                contract="NumberConverterWS.NumberConversionSoapType" name="NumberConversionSoap" />
            <endpoint address="http://www.dataaccess.com/webservicesserver/numberconversion.wso"
                binding="customBinding" bindingConfiguration="NumberConversionSoapBinding12"
                contract="NumberConverterWS.NumberConversionSoapType" name="NumberConversionSoap12" />
        </client>
    </system.serviceModel>
</configuration>